# Byte-compiled, optimized
__pycache__
*.py[cod]

# Project files
/dist/
/*.egg-info/

# IDEs
/deploy/
/.vscode/
/.vs/
/.settings/
*.ipynb_checkpoints
/docs/
/source/_build/
*__pycache__
/.project
/.pydevproject
